# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

## ignore file ##
*.opendb
*.suo
*.obj
*.exe

## ignore dir name ##
.vs/
x86/
x64/
bin/
obj/
Debug/
Release/
publish/
teset-system-app/os/linux-cmake/
teset-system-app/os/linux-database/
teset-system-app/os/linux-python/


